
p
{
    color:gray;
    margin-top: 10%;
}

small
{
    color:gray;
    display: block;
    margin-top: 5px;
}

.swipe
{
    font-size: 14px;
    padding: 0px 10px;
    margin-top: 15px;
    
}

ion-item-option ion-icon
{
    font-size: 20px;
}

ion-button ion-icon
{
    font-size: 30px;
}