<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>{{ 'Subscription' | translate }}</ion-title>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="data">

  <p>{{ 'Current Subscription' | translate }}</p>
  <ion-item lines="none" class="current">
    <ion-label>{{ data.current.name }} <span class="amount">{{ data.current.price | currency : data.currency }}</span>
      <small>{{ 'Valid Till' | translate }} : {{ data.current.valid_till | date:'dd-MMM-yyyy' }}</small>
    </ion-label>
  </ion-item>

  <p>{{ 'Subscription History' | translate }}</p>

  <ion-list>
    <ion-item *ngFor="let history of data.history">
      <ion-label>{{ history.name }} <span class="amount">{{ history.price | currency : data.currency }}</span>
        <small>{{ 'Valid Till' | translate }} : {{ history.valid_till | date:'dd-MMM-yyyy' }}</small>
      </ion-label>
    </ion-item>
  </ion-list>

  <p>{{ 'Upgrade or Renew Your Subscription' | translate }}</p>

  <ion-item class="current" *ngFor="let plan of data.plan" lines="none">
    <ion-label><b>{{ plan.name }}</b> <span class="amount">{{ plan.price | currency : data.currency }}</span> 
      <small>{{ 'for' | translate }} {{ plan.month }} {{ 'month' | translate }}</small>
      <div [innerHTML]="plan.description" style="display: block;margin-top: 10px;"></div>
      <br>
      <ion-button expand="block" mode="ios" size="small" href="{{ data.url }}_{{ token }}&plan_id={{ plan.id }}" target="_blank">
        <span style="font-size: 16px;padding: 5px 5px;">{{ 'Choose Plan' | translate }}</span>
      </ion-button>
    </ion-label>
  </ion-item>

</ion-content>
