ion-content
{
    --background:var(--ion-color-light);
}

.current, ion-list
{
    border-radius: 10px;
    margin-bottom: 20px;
}

.amount
{
    float:right;
    color:green;
}

small
{
    display: block;
    margin-top: 10px;
    color:gray
}