<ion-header>
  <ion-toolbar color="primary">
  <ion-title>{{ "Add New Tax" | translate }}</ion-title>
  <ion-buttons slot="end"><ion-button (click)="close()">{{ "Cancel" | translate }}</ion-button></ion-buttons>
  </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    
  <form #form="ngForm" (ngSubmit)="addNew(form.value)">
  
  <p>{{ "Personal Information" | translate }}</p>
  
  <ion-input color="dark" label="{{ 'Tax Name *' | translate }}" name="tax_name" [(ngModel)]="data.tax_name" label-placement="floating" fill="outline" mode="md" required [disabled]="hasClick"></ion-input><br>
  <ion-input color="dark" type="number" oninput="validity.valid||(value=value.replace(/[e\+\-]/gi,''))" min="0" max="100000000" step=".01" label="{{ 'Tax Value in % *' | translate }}" name="tax_value" [(ngModel)]="data.tax_value" label-placement="floating" fill="outline" mode="md" required [disabled]="hasClick"></ion-input><br>
  

  <ion-button expand="block" mode="ios" type="submit" *ngIf="!hasClick" [disabled]="!form.valid">{{ 'Submit' | translate }}</ion-button>
  <ion-button expand="block" mode="ios" type="button" *ngIf="hasClick"><ion-spinner name="crescent"></ion-spinner></ion-button>
  
  </form>
  
  
  </ion-content>
  