<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'Add New Product' | translate }}</ion-title>
    <ion-buttons slot="end"><ion-button (click)="close()">{{ 'Cancel' | translate }}</ion-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <form #form="ngForm" (ngSubmit)="addNew(form.value)">
    
    <ion-input color="dark" [label]="'Product Name *' | translate" name="name" [(ngModel)]="data.name" label-placement="floating" fill="outline" mode="md" required [disabled]="hasClick"></ion-input><br>
    <ion-input color="dark" [label]="'Code' | translate" name="code" [(ngModel)]="data.code" label-placement="floating" fill="outline" mode="md" [disabled]="hasClick"></ion-input><br>
    <ion-input color="dark" [label]="'Unit Price *' | translate" name="price" [(ngModel)]="data.price" label-placement="floating" fill="outline" mode="md" required [disabled]="hasClick" type="number" oninput="validity.valid||(value=value.replace(/[e\+\-]/gi,''))" min="0" max="100000000" step=".01"></ion-input><br>
    <ion-input color="dark" [label]="'Description' | translate" name="description" [(ngModel)]="data.description" label-placement="floating" fill="outline" mode="md" [disabled]="hasClick"></ion-input><br>

    <ion-button expand="block" mode="ios" type="submit" *ngIf="!hasClick" [disabled]="!form.valid">{{ 'Submit' | translate }}</ion-button>
    <ion-button expand="block" mode="ios" type="button" *ngIf="hasClick"><ion-spinner name="crescent"></ion-spinner></ion-button>
  
  </form>
  
</ion-content>
