<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" *ngIf="app_logo">
  <p align="center" *ngIf="app_logo"><img src="{{ app_logo }}" /></p>

  <form #form="ngForm" (ngSubmit)="login(form.value)">
    <h2 align="center">Login To Continue</h2>
    <br />
    <ion-input
      color="dark"
      label="Email"
      name="email"
      type="email"
      [(ngModel)]="email"
      label-placement="floating"
      fill="outline"
      mode="md"
      required
      [disabled]="hasClick"
    ></ion-input
    ><br />

    <ion-input
      color="dark"
      label="Password"
      name="password"
      type="password"
      [(ngModel)]="password"
      label-placement="floating"
      fill="outline"
      mode="md"
      required
      [disabled]="hasClick"
    ></ion-input>

    <p align="right">Forgot Password? <a routerLink="/forgot">Reset Here</a></p>

    <ion-button expand="block" mode="ios" type="submit" *ngIf="!hasClick"
      >Login</ion-button
    >
    <ion-button expand="block" mode="ios" type="button" *ngIf="hasClick"
      ><ion-spinner name="crescent"></ion-spinner
    ></ion-button>
  </form>
  <div class="login-divider">
    <span class="hr"></span>
    <span class="divider-text">Or Continue With</span>
    <span class="hr"></span>
  </div>
  <ion-button
    class="google-login"
    expand="block"
    mode="ios"
    fill="outline"
    (click)="loginWithGoogle()"
  >
    <ion-icon slot="start" name="logo-google"></ion-icon>
    Continue With Google
  </ion-button>

  <ion-button
    class="apple-login"
    color="dark"
    expand="block"
    mode="ios"
    (click)="loginWithApple()"
  >
    <ion-icon slot="start" name="logo-apple"></ion-icon>
    Continue With Apple
  </ion-button>




</ion-content>
