img {
  width: 170px;
}

p {
  color: gray;
}
.login-divider {
  margin: 28px 0;
  display: flex;
  align-items: center;
  gap: 12px;
  .hr {
    flex: 1;
    height: 1px;
    background: var(
      --ion-color-step-300,
      var(--ion-background-color-step-300, #b3b3b3)
    );
  }
  .divider-text {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
}

.apple-login {
  display: none;
}
