<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>{{ "Contact Us" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="user">
  
<h1 style="line-height: 0.5;">{{ "Contact Us" | translate }}</h1>

<p style="color: gray;font-size: 14px;">{{ "Do you have any query? Feel free to contact us" | translate }}</p><br>

<form #form="ngForm" (ngSubmit)="contact(form.value)">
<ion-input color="dark" label="{{ 'Name' | translate }}" name="name" [(ngModel)]="name" label-placement="floating" fill="outline" mode="md" required [disabled]="hasClick"></ion-input><br>
<ion-input color="dark" label="{{ 'Email' | translate }}" name="email" type="email" [(ngModel)]="email" label-placement="floating" fill="outline" mode="md" required [disabled]="hasClick"></ion-input><br>

<ion-input color="dark" label="{{ 'Phone' | translate }}" name="phone" type="tel" [(ngModel)]="phone" label-placement="floating" fill="outline" mode="md" required [disabled]="hasClick"></ion-input><br>

<ion-textarea color="dark" label="{{ 'Message' | translate }}" name="msg"  rows="15" cols="50" ngModel label-placement="floating" fill="outline" mode="md" required [disabled]="hasClick"></ion-textarea>

<br>
<ion-button expand="block" mode="ios" type="submit" *ngIf="!hasClick" [disabled]="!form.valid">{{ 'Submit' | translate }}</ion-button>
<ion-button expand="block" mode="ios" type="button" *ngIf="hasClick"><ion-spinner name="crescent"></ion-spinner></ion-button>

</form>

</ion-content>
