<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'Add New Expense' | translate }}</ion-title>
    <ion-buttons slot="end"><ion-button (click)="close()">{{ 'Cancel' | translate }}</ion-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form #form="ngForm" (ngSubmit)="addNew(form.value)">

    <ion-button expand="block" color="secondary" (click)="captureReceipt()">
      <ion-icon name="camera-outline" slot="start"></ion-icon>
      {{ 'Capture Receipt' | translate }}
    </ion-button>
    
    <div *ngIf="hasImg" class="image-preview">
      <img [src]="imagePreview" style="width: 40%; margin-top: 10px;margin-left: 30%;" />
      <a (click)="removeImg()" style="color:red;float:right;">Remove Image</a>
    </div>

    <br>

    <ion-input color="dark" label="{{ 'Title' | translate }} *" name="title" [(ngModel)]="data.title" label-placement="floating" fill="outline" mode="md" required [disabled]="hasClick"></ion-input><br>

    <ion-input color="dark" label="{{ 'Amount' | translate }} *" name="amount" [(ngModel)]="data.amount" label-placement="floating" fill="outline" mode="md" required [disabled]="hasClick" type="text"></ion-input><br>

    <ion-item lines="none">
      <ion-select label="{{ 'Payment Method' | translate }} *" name="payment_method" [(ngModel)]="data.payment_method" required>
        <ion-select-option [value]="'Cash'">{{ 'Cash' | translate }}</ion-select-option>
        <ion-select-option [value]="'Online Transfer'">{{ 'Online Transfer' | translate }}</ion-select-option>
        <ion-select-option [value]="'By Cheque'">{{ 'By Cheque' | translate }}</ion-select-option>
        <ion-select-option [value]="'Other'">{{ 'Other' | translate }}</ion-select-option>
      </ion-select>
    </ion-item><br>

    <ion-item lines="none" id="f">
      <ion-label>{{ 'Date Added' | translate }} * <span style="float:right;color:gray">{{ date_added | date:'d-MMM-yyyy' }}</span></ion-label>

      <ion-popover trigger="f" size="auto">
        <ng-template>
          <ion-datetime presentation="date" [(ngModel)]="date_added" locale="en" name="date_added" showDefaultButtons="true" required color="dark"></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item><br>


    <ion-input color="dark" label="{{ 'Any Notes' | translate }}" name="notes" [(ngModel)]="data.notes" label-placement="floating" fill="outline" mode="md" [disabled]="hasClick"></ion-input>

    <!--<div class="rec">
    <p>Any Receipt <a *ngIf="hasImg" (click)="removeImg()" style="color:red !important;float: right;">Remove Image</a></p>

    <input type="file" class="fileInput" accept=".png, .jpeg, .jpg" (change)="onFileSelected($event)" name="imgs" ngModel id="fileInput">
    </div>-->

    <br>
    <ion-button expand="block" mode="ios" type="submit" *ngIf="!hasClick" [disabled]="!form.valid || !date_added">{{ 'Submit' | translate }}</ion-button>
    <ion-button expand="block" mode="ios" type="button" *ngIf="hasClick"><ion-spinner name="crescent"></ion-spinner></ion-button>

  </form>

</ion-content>
