ion-content
{
    --background:var(--ion-color-light);
}

span
{
    float:right;
    color:gray;
}

.desc
{
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color:gray
}

ion-list
{
    border-radius: 10px;
}