<ion-header>
  <ion-toolbar color="primary">
  <ion-title *ngIf="data">{{ "Start Recurring" | translate }}</ion-title>
  <ion-buttons slot="end"><ion-button (click)="close()">Cancel</ion-button></ion-buttons>
  </ion-toolbar>
  </ion-header>
  
  <ion-content *ngIf="data " class="ion-padding">
    
  <p>{{ "Start Recurring Invoice for" | translate }} {{ data.prefix+data.invo_no }}</p>

  <form #form="ngForm" (ngSubmit)="addNew(form.value)">

  <ion-item lines="none" id="f">
  <ion-label>{{ "Start Date" | translate }}* <span style="float:right;color:gray">{{ start_date | date:'d-MMM-yyyy' }}</span></ion-label>

  <ion-popover trigger="f" size="auto">
  <ng-template>
  <ion-datetime presentation="date" locale="en" name="start_from" [(ngModel)]="start_date" min="{{ start_date }}" showDefaultButtons="true" required color="dark"></ion-datetime>
  </ng-template>
  </ion-popover>
  </ion-item><br>

  <ion-input color="dark" label="{{ 'Number of Days *' | translate }}" name="days" [(ngModel)]="days" type="tel" label-placement="floating" fill="outline" mode="md" required [disabled]="hasClick"></ion-input><br>

  <ion-button expand="block" mode="ios" type="submit" *ngIf="!hasClick" [disabled]="!form.valid || !start_date">{{ "Submit" | translate }}</ion-button>
  <ion-button expand="block" mode="ios" type="button" *ngIf="hasClick"><ion-spinner name="crescent"></ion-spinner></ion-button>
  </form>
  
  </ion-content>
  