<ion-app dir="{{ dir }}">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="push">
      <ion-content class="ion-padding">
        <ion-list id="inbox-list" *ngIf="user && user.name">
          
          <ion-header class="ion-no-border">
            <img src="{{ user.logo }}" *ngIf="user.logo" style="width: 130px;">

            <ion-list-header *ngIf="!user.logo">{{ user.name }}</ion-list-header>
            <ion-note style="margin-top: 5px;" *ngIf="!user.logo">{{ user.email }}</ion-note>
          </ion-header>


          <p style="color: gray;margin-top: 20px;" *ngIf="user.logo">{{ user.name }}</p>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="forward" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected" *ngIf="checkPerm(p.url)">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" (click)="deleteAccount()">
            <ion-item lines="none" detail="false">
              <ion-icon aria-hidden="true" slot="start" name="trash"></ion-icon>
              <ion-label>{{ "Delete My Account" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" (click)="logout()">
            <ion-item lines="none" detail="false">
              <ion-icon aria-hidden="true" slot="start" name="log-out"></ion-icon>
              <ion-label>{{ "Logout" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
        
        
        

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content" dir="{{ dir }}"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
