<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="data">{{ data.prefix + data.qno }}</ion-title>
    <ion-buttons slot="end"><ion-button (click)="close()">{{ 'Cancel' | translate }}</ion-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data && company" #content id="content" class="ion-padding">

  <p align="center" *ngIf="logo"><img src="{{ logo }}" style="width: 50%;"></p>

  <p>{{ 'From' | translate }}</p>

  <ion-list>
    <ion-item lines="none">
      <ion-label class="ion-text-wrap">{{ company.company_name }}
        <small>{{ company.address }}</small>
        <small><a href="tel:{{ company.phone }}">{{ company.phone }}</a></small>
        <small><a href="mailto:{{ company.email }}">{{ company.email }}</a></small>
      </ion-label>
    </ion-item>
  </ion-list>

  <p>{{ 'To' | translate }}</p>

  <ion-list>
    <ion-item lines="none">
      <ion-label class="ion-text-wrap">{{ client.first_name }} {{ client.last_name }}
        <small>{{ client.address }}</small>
        <small><a href="tel:{{ client.phone }}">{{ client.phone }}</a></small>
        <small><a href="mailto:{{ client.email }}">{{ client.email }}</a></small>
      </ion-label>
    </ion-item>
  </ion-list>

  <p>{{ 'Quote Detail' | translate }}</p>

  <ion-list>
    <ion-item>
      <ion-label>{{ 'Quote Number' | translate }} <span>{{ data.prefix + data.qno }}</span></ion-label>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'Date Added' | translate }} <span>{{ data.date_added | date:'dd-MMM-YYYY' }}</span></ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>{{ 'Due Date' | translate }} <span>{{ data.due_date | date:'dd-MMM-YYYY' }}</span></ion-label>
    </ion-item>
  </ion-list>

  <p>{{ 'Products' | translate }}</p>

  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-label class="ion-text-wrap" style="font-size: 14px;">{{ item.name }} <span>{{ item.qty }} x {{ item.price }}</span>
        <small style="font-size: 12px;">{{ item.description }}</small>
      </ion-label>
    </ion-item>
  </ion-list>

  <p>{{ 'Price Total' | translate }}</p>

  <ion-list>
    <ion-item>
      <ion-label>{{ 'Sub Total' | translate }} <span>{{ sub_total | currency: company.currency }}</span></ion-label>
    </ion-item>

    <ion-item *ngIf="data.discount_value > 0">
      <ion-label>{{ 'Discount' | translate }} <span>{{ data.discount_value | currency: company.currency }}</span></ion-label>
    </ion-item>

    <ion-item *ngFor="let tax of taxs">
      <ion-label>{{ tax.tax_name }} ({{ tax.tax_value }}%) <span>{{ tax.value | currency: company.currency }}</span></ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>{{ 'Total' | translate }} <span>{{ data.total_amount | currency: company.currency }}</span></ion-label>
    </ion-item>
  </ion-list>

  <p style="font-size: 13px;">{{ 'Added By' | translate }} {{ added }}</p>
  <p *ngIf="updated" style="font-size: 13px;">{{ 'Updated By' | translate }} {{ updated }}</p>

  <div *ngIf="email">

    <p>{{ 'Send email to client' | translate }}</p>

    <ion-textarea color="dark" label="{{ 'Message' | translate }}" name="email_msg" [(ngModel)]="email_msg" label-placement="floating" fill="outline" mode="md" [disabled]="hasClick" rows="15" cols="15"></ion-textarea>

    <br>
    <ion-button expand="block" mode="ios" *ngIf="!hasClick" (click)="sendEmail()" id="email">{{ 'Send Email' | translate }}</ion-button>
    <ion-button expand="block" mode="ios" *ngIf="hasClick"><ion-spinner name="crescent"></ion-spinner></ion-button>

  </div>

</ion-content>
