ion-content
{
    --background:var(--ion-color-light);
}

span
{
    float:right;
    color:gray;
}

p
{
    padding: 0px 10px;
}

small
{
    display: block;
    margin-top: 10px;
    color:gray;
    font-size: 14px;
}

ion-textarea
{
    height: 100px;
    --background:var(--ion-color-tertiary) !important;
    width: 100% !important;
}

ion-list
{
    border-radius: 10px;
}