<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" *ngIf="data">
  
<img src="{{ data.img }}" *ngIf="data.img">

<h1>{{ welcomeTitle }}</h1>

<p>{{ welcomeDescription }}</p><br>

<ion-button mode="ios" expand="block" routerLink="/login">Login To Continue<ion-icon name="log-in-outline" slot="start"></ion-icon></ion-button>

<p align="center">OR</p>

<ion-button mode="ios" expand="block" color="dark" routerLink="/signup">Create New Account <ion-icon name="create-outline" slot="start"></ion-icon></ion-button>

</ion-content>
