<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" *ngIf="app_logo">
  
<p align="center" *ngIf="app_logo"><img src="{{ app_logo }}"></p>

<form #form="ngForm" (ngSubmit)="signup(form.value)">
<h2 align="center">Create Your Account</h2><br>
<ion-input color="dark" label="Company Name" name="company_name" ngModel label-placement="floating" fill="outline" mode="md" required [disabled]="hasClick"></ion-input><br>
<ion-input color="dark" label="Your Name" name="name" ngModel label-placement="floating" fill="outline" mode="md" required placeholder="First and Last Name" [disabled]="hasClick"></ion-input><br>
<ion-input color="dark" label="Email" name="email" type="email" ngModel label-placement="floating" fill="outline" mode="md" required [disabled]="hasClick"></ion-input><br>

<ion-row>
<ion-col size="6">
<ion-input color="dark" label="Country Code" name="country_code" type="tel" ngModel label-placement="floating" fill="outline" mode="md" required placeholder="91" [disabled]="hasClick"></ion-input>
</ion-col>
<ion-col size="6">
<ion-input color="dark" label="Phone" name="phone" type="tel" ngModel label-placement="floating" fill="outline" mode="md" required [disabled]="hasClick"></ion-input>
</ion-col>
</ion-row>
<br>
<ion-input color="dark" label="Choose Password" name="password" type="password" ngModel label-placement="floating" fill="outline" mode="md" required [disabled]="hasClick"></ion-input><br>

<ion-item lines="none" class="term" (ionChange)="checkTerm()">
<ion-label slot="end">i agree to <a href="{{ privacy_link }}" target="_blank">Terms & Conditions</a></ion-label>
<ion-checkbox></ion-checkbox>
</ion-item><br>

<ion-button expand="block" mode="ios" type="submit" [disabled]="!form.valid || !term" *ngIf="!hasClick">Create Account</ion-button>
<ion-button expand="block" mode="ios" type="button" *ngIf="hasClick"><ion-spinner name="crescent"></ion-spinner></ion-button>

</form>

</ion-content>
