<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>{{ 'Manage Payments' | translate }}</ion-title>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" mode="ios" (click)="addNew()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="allData">
  
  <p align="center" *ngIf="allData.length == 0">{{ 'Sorry! No data found.' | translate }}</p>

  <div *ngIf="allData && allData.length > 0">
    <ion-searchbar mode="ios" [(ngModel)]="term" (ionInput)="onSearchChange(1)"></ion-searchbar>
    <p class="swipe">{{ 'Tap for more options' | translate }}</p>
  </div>

  <ion-item lines="none" (ionChange)="setStatus()" class="filter">
    <ion-select label="{{ 'Status Filter' | translate }}" name="status_id" [(ngModel)]="status_id" placeholder="{{ 'All Payment Method' | translate }}">
      <ion-select-option [value]="'all'" *ngIf="status_id != 'all'">{{ 'Show All' | translate }}</ion-select-option>
      <ion-select-option [value]="'Cash'">{{ 'Cash' | translate }}</ion-select-option>
      <ion-select-option [value]="'Online Transfer'">{{ 'Online Transfer' | translate }}</ion-select-option>
      <ion-select-option [value]="'By Cheque'">{{ 'By Cheque' | translate }}</ion-select-option>
      <ion-select-option [value]="'Other'">{{ 'Other' | translate }}</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="ion-padding">
    <ion-item lines="none" class="quote" *ngFor="let payment of data" (click)="viewOption(payment)">
      <ion-label class="ion-text-wrap">
        <div class="quote-header">
        <b>{{ payment.first_name }} {{ payment.last_name }}</b>
        <span class="amount">{{ payment.amount | currency : currency }}</span>
        </div>
        <small>{{ payment.prefix + payment.invo_no }} - {{ 'Trans Date' | translate }} {{ payment.date_added | date:'dd-MMM-yyyy' }}</small>
        <small style="color:red">{{ payment.payment_method }}</small>
      </ion-label>
    </ion-item>
  </div>

  <!-- Add infinite scroll -->
  <ion-infinite-scroll (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{ 'Loading more data...' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
